body, input, button, textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $bodyFont;
    color: $textColor;
}

h1, h2, h3 {
    font-family: $titleFont;
    color: $titleColor;
}

// Reste des propriétés des fonts...

h1 {
    font-size: 200px;
    color: $white;
    color: #fff;
    font-weight: 900;   
}

.infos-block, .infos-block-user {
    font-size: 30px;
    color: $titleColor;
    font-weight: 600;
    letter-spacing: 1px;
    p {
        font-size: 50px;
        color: $titleColor;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
}

.card {
    font-family: $titleFont;
    font-weight: bold;
}
