// Styles de la page User
.users-select {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
select {
    width: 100%;
    color: $white;
    font-weight: bolder;
    min-width: 900px;
    border: 12px solid $white;
    padding: 1em 1em;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
}

span {
    color: $white;
}

.infos-block-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    padding: 50px;
}

.occupation {
    margin-bottom: 10px;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    display: flex;
    justify-content: center;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    margin: 50px;
    margin-bottom: 20px;
    max-width: 400px;
    height: 500px;
    padding: 15px;
    background-color: $white;
}

.card-title {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-text {
    width: 100%;
    padding: 0 1em 2em 1em;
    justify-content: center;
}
